<%= @event.name %>
<%= simple_format(@event.description) %>

<%= form_for @event, url: {action: "show"} do |f| %>
  <%= f.label :name, "Name:" %>
  <%= f.text_field :name %>
</br></br>
  <%= f.label :description, "Description:" %>
  <%= f.text_area :description %>
<% end %>

<p><%= link_to 'Back to index', :controller => 'events', :action => 'index' %>
	<%= link_to 'Edit', controller:'events', action:'edit', id:@event.id %>
	<%= link_to 'Delete', controller:'events', action:'destroy', id:@event.id %>
	<%= link_to 'New', :controller => 'events', :action => 'new' %></p>